/***********************************************

 Autores: Wagner Cabrera Idana - López Julieta

***********************************************/

/* ORGANIZAR LAS DECLARACIONES EN BLOQUES*/

/* ESTILOS GENERALES*/

:root {
    width: 1000px;
    --colorFondo: #EDF6F9;
    --colorTexto: #000000;
    --colorHeader: #006D77;
    --colorBox: #9ddad469;
    --colorAmarillo: #e2d778;
    --colorNotification: #E63946;
}

body {
    background-color: var(--colorFondo);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.activity, .cards, .stock-control, .currency, .exclusive-offers{
    width: 45%;
    box-shadow: 0 0 10px var(--colorBox);
    border-radius: 20px;
    color: var(--colorHeader);
    padding: 15px;
    margin-right: 37px;

}

/* HEADER */
.main-header { 
    order: 1;
    width: 100%; 
    background-color: var(--colorHeader); 
    display: flex; 
    flex-direction: column;
    align-items: flex-start;
    padding: 1px 59px;
    flex-wrap: wrap;
    justify-content: center;

}
.main-header img {
    height: 100%;
}

/* Notificaciones */

.notification-icon {
    font-size: 25px;
    cursor: pointer;
}

.notifications {
    align-self: self-end;
    width: 20px;
}

.notification-counter {
    background-color: var(--colorNotification);
    border-radius: 50%;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--colorTexto);
    font-size: 10px;
    position: relative;
    bottom: 31px;
    left: 15px;
}

/* Animacion notificaciones */
@keyframes notification {
    0% {
        transform: rotate(0deg);
        transform: scale(1.2);
    }

    50% {
        transform: rotate(10deg);
        transform: scale(1.5);
    }

    100% {
        transform: rotate(0deg);
        transform: scale(1.2);
    }
}

.notification-icon:hover {
    animation: notification 0.1s infinite;
    transition: 0.1s;
}

/* ESTILOS DE BARRA DE NAVEGACIÓN */
.main-menu {
    display: inline-block;
    order: 2;
    width: 25%;
    background-color: var(--colorFondo);
    overflow-y: hidden;
    padding: 5px 5px 0px 25px;
}

.menu-group {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.menu-group h2 {
    margin: 10px 0;
    font-size: 20px;
    font-weight: 500;
    color: var(--colorHeader);
    border-radius: 20px;
    padding: 5px;
}

.menu-group a {
    display: flex;
    text-decoration: none;
    color: var(--colorTexto);
    padding: 5px;
    align-items: center;
}

.menu-group a:hover {
    background-color: var(--colorBox);
    border-radius: 20px;
}

.menu-text,
.material-icons {
    margin-left: 10px;
}

/* ESTILOS MAIN */

main {
    order: 3;
    width: 75%;
    display: flex;
    padding: 3px;
    margin-top: 20px;   
    padding: 0px;
   
}

/* ACTIVIDAD RECIENTE */
.activity{
    order: 1;    
}
.activity>h2 {
    font-size: 20px;
    font-weight: 500;
    color: var(--colorHeader);
    padding: 5px;
}
.activity>table {
    border-collapse: collapse;
    overflow: hidden;
    margin-left: 20px;
}

.activity th,
.activity td {
  padding: 10px;
  border: 1px solid var(--colorBox);
  text-align: start;
  border-radius: 10px;
}

.activity>table>tbody>tr>td>button{
    border-radius: 55%;
    color: var(--colorTexto);
    background-color: transparent;
    border: none;
    cursor: pointer;

}

/* TARJETAS */

.cards{
    order: 2;
    height: auto;
}
.card {
    margin-left: 50px;
    margin-top: 15px;
    border-radius: 10px;
    font-size: 10px;
    color: var(--colorFondo);
}

.card h3 {
    padding: 5px;
    width: 60%;
}
.card p {
    padding: 5px;
    width: 100%;
}

.card>img{
    width: 50px;
    border-radius: 100%;
    top: 6px;
    right: 10px;
    
}
.card:nth-of-type(1){
    background: radial-gradient(circle, var(--colorFondo) 7%, var(--colorHeader) 94%);}

.card:nth-of-type(2){
    background: radial-gradient(circle, var(--colorAmarillo) 0%, var(--colorNotification) 54%);
    
}
.card:nth-of-type(3){
        background: radial-gradient(circle, var(--colorHeader)0%, var(--colorTexto) 100%);
}

.card:nth-of-type(1):hover, .card:nth-of-type(2):hover, .card:nth-of-type(3):hover{
    transform: scale(1.1);
    z-index: 1;
}

/* CONTROL DE STOCK */
.stock-control {
    order: 3;
    margin-top: 20px;
    padding-right: 50px;
}

.stock-alert {
    margin: 20px 20px;
    padding: 10px;
    color: var(--colorTexto);

}

.stock-alert>h3{
    width: 150px;
    padding-left: 5px;
}

.stock-control>article::after {
    content: "Stock: " attr(data-stock);
    display: flex;
    width: 150px;
    padding-left: 10px;
}

.stock-control>article[data-alert-level="high"]{
    width: 10%;
    border-radius: 10px;
    background-color: var(--colorNotification);
}
.stock-control>article[data-alert-level="medium"]{
    width: 50%;
    border-radius: 10px;
    background-color: var(--colorAmarillo);
}
.stock-control>article[data-alert-level="low"]{
    width: 100%;
    border-radius: 10px;
    background-color: var(--colorHeader);
}

/* COTIZACION DOLAR */
.currency{
    order: 4;
    margin-top: 20px;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    
}
.currency>p {
    display: none;
}

.loading {
    justify-content: space-around;
    align-self: center;
    margin-top: 100px;
}

/* Tranformacion del loading*/
@keyframes loadingItem{
    0%{
        transform: scale(1.1);
    }
    50%{
        transform: scale(1.5);
    }
    100%{
        transform: scale(1.1);
        ;
    }
} 

.loading-item{
    animation: loadingItem 1s infinite;
    position: relative;
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: var(--colorAmarillo);
    border: 1.5px double var(--colorNotification);
    color: var(--colorNotification);
}

.loading-item:nth-of-type(1){
    animation-delay: 0.1s;
}

.loading-item:nth-of-type(2){
    animation-delay: 0.2s;
}

.loading-item:nth-of-type(3){
    animation-delay: 0.3s;
}

.loading-item:nth-of-type(1)::before,
.loading-item:nth-of-type(2)::before,
.loading-item:nth-of-type(3)::before
 {
    content: "$";
    display: block;
    text-align: center;
}


/* OFERTAS EXCLUSIVAS */
.exclusive-offers{
    order: 5;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    height: 500px


}
.art-offer{
    width: 30%;
    background-color: var(--colorBox);
    border-radius: 20px;
    margin: 11px;
    padding: 11px;
    height: 370px;
    color: var(--colorTexto);

}

.art-offer:hover{
    transition: all 0.3s ease-out;
    height: 400px;
}

.art-offer>img{
    width: 100%;
}
.art-offer>header>h3{
    font-size: 15px;
    font-weight: 900;
    height: 35px;
    text-align: start;
    margin: 10px;
}


.art-offer>header>p{
    position: relative;
    display: flex;
    left: 94px;
    height: 47px;
    font-size: 20px;
    flex-direction: column;
    align-items: center;
    width: 50%;

}

.art-offer>header>p::after{
    content: "$" attr(data-art-old-price);
    color: var(--colorTexto);
    opacity: 30%;
    text-decoration: line-through;
    display: none;
    font-size: 15px;
}

.art-offer:hover p::after {
    display: block;
}

.art-details{
    display: none;
    font-size: 12px;


}
.art-offer:hover .art-details{
    display: block;
}

.art-offer>footer{
    display: block;
    margin: 5px;
    
}
.art-offer>footer>p{
    opacity: 50%;
}

.art-offer>footer>button{
    width: 100%;
    height: 28px;
    border-radius: 20px;
    background-color: var(--colorHeader);
    color: var(--colorTexto);
    font-size: 16px;
    border: none;
    margin-top: 10px;
    cursor: pointer;
}

/* ASISTENCIA */
.contact-text{
    background-color: var(--colorAmarillo);
    order: 6; 
    position: fixed;
    bottom: 60px;
    right: 525px;
    font-size: 12px;
    border-radius: 20px;
    padding: 5px;
}
.contact-support>.material-icons-outlined{
    font-size: 30px;
    color: var(--colorTexto);
    margin: 10px;
    position: fixed;
    bottom: 70px;
    right: 514px;
    font-size: 40px;
}


/* FOOTER */
.main-footer {
    order: 4;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--colorHeader);
}

.main-footer::before{
    content: "Copyright © 2023 López Julieta, Wagner Cabrera Idana.";
}

