/***********************************************

 Autores: Wagner Cabrera Idana - Lopez Julieta

***********************************************/

/* ORGANIZAR LAS DECLARACIONES EN BLOQUES*/

/* ESTILOS GENERALES*/

:root {
    width: 1000px;
    --colorTexto: #000000;
    --colorHeader: #006D77;
    --colorVerdeIntermedio: #42999B;
    --colorBox: #83C5BE;
    --colorFondo: #EDF6F9;
    --colorBeige: ##FFDDD2;
    --colorLadrillo: #E29578;
    --colorNotification: #E63946;
}

body {
    background-color: var(--colorFondo);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

                                            /* HEADER */
.main-header {
    order: 1;
    width: 100%; /* ocupa el ancho total del body*/
    background-color: var(--colorHeader);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1px 59px;
    flex-wrap: wrap;
    justify-content: center;

}
.main-header img {
    height: 100%;
}

/* Notificaciones */

.notification-icon {
    font-size: 25px;
    cursor: pointer;
}

.notifications {
    align-self: self-end;
    width: 20px;
}

.notification-counter {
    background-color: var(--colorNotification);
    border-radius: 50%;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--colorTexto);
    font-size: 10px;
    position: absolute;
    z-index: 999;
    top: 21px;
    right: 569px;
}

/* Animacion notificaciones */
@keyframes notification {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.notification-icon:hover {
    animation: notification 0.1s infinite;
    transition: 0.1s;
}

                                /* ESTILOS DE BARRA DE NAVEGACIÓN */
.main-menu {
    display: inline-block;
    order: 2;
    width: 25%;
    background-color: var(--colorFondo);
    overflow-y: hidden;
    padding: 5px 5px 0px 25px;
}

.menu-group {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.menu-group h2 {
    margin: 10px 0;
    font-size: 20px;
    font-weight: 500;
    color: var(--colorHeader);
    border-radius: 20px;
    padding: 5px;
}

.menu-group a {
    display: flex;
    text-decoration: none;
    color: var(--colorTexto);
    padding: 5px;
    align-items: center;
}

.menu-group a:hover {
    background-color: var(--colorBox);
    border-radius: 20px;
}

.menu-text,
.material-icons {
    margin-left: 10px;
}

                                        /* ESTILOS MAIN */

main {
    order: 3;
    width: 75%;
    display: flex;
    padding: 3px;
    margin-top: 20px;   
    padding: 0px;
   
}


/* ACTIVIDAD RECIENTE */
.activity{
    order: 1;
    width: 50%;
    
}
.activity>h2 {
    font-size: 20px;
    font-weight: 500;
    color: var(--colorHeader);
    padding: 5px;
}
.activity>table {
    border-radius: 16px;
    border-collapse: collapse;
    box-shadow: 0 0 10px var(--colorBox);
    border-radius: 10px;
    overflow: hidden;
    margin-left: 20px;
}

.activity th,
.activity td {
  padding: 10px;
  border: 1px solid #83c5be40;
  text-align: start;
  border-radius: 10px;
}


.activity>table>tbody>tr>td>button{
    border-radius: 55%;
    color: black;
    background-color: transparent;
    border: none;
    cursor: pointer;

}

/* TARJETAS */

.cards{
    order: 2;
    width: 50%;
    color: var(--colorHeader);
}
.card {
    display: block;
    position: absolute;  
    border-radius: 10px;
    width: 60%;
    height: 50%;
    font-size: 12px;
    font-weight: 500;
    color: var(--colorFondo);
}

.card h3 {
    padding: 5px;
    width: 60%;
}
.card p {
    padding: 5px;
    width: 100%;
}

.card>img{
    width: 50px;
    border-radius: 100%;
    top: 6px;
    right: 10px;
    
}
.card:nth-of-type(1){
    background: linear-gradient(350deg, rgba(63,139,186,1) 0%, rgba(39,102,155,1) 100%);
}
.card:nth-of-type(1):hover, .card:nth-of-type(2):hover, .card:nth-of-type(3):hover{
    transform: scale(1.1);
    z-index: 1;
}
.card:nth-of-type(2){
    background: linear-gradient(180deg, #646464 0%, rgb(0 0 0) 100%);
}
.card:nth-of-type(3){
    background: radial-gradient(circle, rgba(139,49,168,1) 0%, rgba(97,44,130,1) 100%);
}


/* CONTROL DE STOCK */
.stock-control {
    order: 3;
    width: 50%;
    margin-top: 20px;
    padding-right: 50px;
    color: var(--colorHeader);
}

.stock-alert {
    margin: 20px 20px;
    padding: 10px;
    color: var(--colorTexto);

}

.stock-alert>h3{
    width: 150px;
    padding-left: 5px;
}

.stock-control>article::after {
    display: flex;
    width: 150px;
    padding-left: 10px;
    content: "Stock: " attr(data-stock);
}

.stock-control>article[data-alert-level="high"]{
    width: 10%;
    border-radius: 10px;
    background-color: var(--colorNotification);
}
.stock-control>article[data-alert-level="medium"]{
    width: 50%;
    border-radius: 10px;
    background-color: var(--colorLadrillo);
}
.stock-control>article[data-alert-level="low"]{
    width: 100%;
    border-radius: 10px;
    background-color: var(--colorHeader);
}

/* COTIZACION DOLAR */
.currency{
    background-color: orange;
    order: 4;
    width: 50%;
    
}
.currency>p {
    display: none;
}
.loading {
    width: 100px;
    display: flex;
}

/* OFERTAS EXCLUSIVAS */
.exclusive-offers{
background-color: var(--colorNotification);
order: 5;
width: 100%;
}
                /* ASISTENCIA */
.contact-support{
    background-color: purple;
    order: 6; 
    /* width: 20%; */
}
               
.loading-item {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: lightblue;
}
                                  

                                            /* FOOTER */
.main-footer {
    order: 4;
    width: 100%;
    background-color: violet;
}

/* ESTILOS DE ...*/